<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->


    <!-- Grid row -->
    <div class="row">


      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-4">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
            <li><a href="/"> Home</a></li>
            <li><a href="/blog"> Blog</a></li>
            <li><a href="/about"> About Us</a></li>
            <li><a href="/contact"> Contact Us</a></li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-4">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
            <li><a href="/"> Home</a></li>
            <li><a href="/blog"> Blog</a></li>
            <li><a href="/about"> About Us</a></li>
            <li><a href="/contact"> Contact Us</a></li>
        </ul>

      </div>
      <!-- Grid column -->

        <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-4">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
            <li><a href="/"> Home</a></li>
            <li><a href="/blog"> Blog</a></li>
            <li><a href="/about"> About Us</a></li>
            <li><a href="/contact"> Contact Us</a></li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->




</footer>
<!-- Footer -->